/* ----------------------------------------------------- */
/* customer page style */
.demo-customers-no-results {
  text-align: center;

  h2 {
    color: $tertiaryTextColor;
  }

  img {
    width: 100%;
    max-width: 500px;
  }
}

.demo-customer-details-avatar {
  height: 98px;
  width: 98px;
  margin: auto;
  line-height: 98px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  color: $contrastTextColor;
}

.demo-customer-details-avatar-wrapper {
  padding: 3px;
  background: transparent;
  border: 1px solid;
  width: 106px;
  height: 106px;
  margin: auto;
  border-radius: 50%;
}

h2.demo-customer-name {
  color: $fifSecondaryLabelColor;
}

.demo-customer-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: $contrastTextColor;
}

.demo-customer-avatar-wrapper {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: inline-flex;
}

// // todo: please add a comment here about why this is needed and that a bug is filed on list view.
// mickey: the bug is fixed. this will be removed.
// .oj-listview-group-item {
//   z-index: 1;
// }
