/* ------------------------------------------------------ */
/* tour page style */
.demo-tour-button.oj-button.oj-default.oj-button-half-chrome {
  &, & .oj-button-icon, .demo-tour-button-label {
    color: $iconColorHover;
  }
}

.demo-tour-dark-bg {
  background-color: $contrastBackground1Color;
}

.demo-tour-container { height: 100vh; }

.demo-tour-launch-image-container::before {
  content: "";
  position: absolute;
  background: url($fifCommonImageDir + 'tour_background_icon.png') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.demo-tour-launch-action {
  width: 100%;
  height:100%;
  position: relative;

  h1 {
    color: $contrastTextColor;
    font-size: 2.250rem;
    display: inline-block;
    margin: 0;
  }

  button {
    font-size: 1.125rem;
    font-weight: 300;
  }
}

// tour filmstrip style
.demo-filmstrip-container { height: 100%; }

.demo-filmstrip-item {
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4.demo-tour-content-subtitle {
  color: $fifTourSubtitleColor;
}

.demo-overlaid-paging-control {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  .oj-pagingcontrol-nav-dot-bullet {
    height: 6px;
    width: 6px;
    // todo: we shouldn't be using text vars for background colors.
    // mickey: add to settings.scss
    // $fifPaginationDotBgColor: $secondaryTextColor;
    background-color: $fifPaginationDotBgColor;
    opacity: 1;

    &.oj-selected {
      background-color: $neutralColor1;
    }
  }
}
