<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<div class="oj-hybrid-padding demo-solid-bg" style="overflow-x: hidden;">
  <div>
    <h2>About the Demo</h2>
    <p>Oracle JET FixItFast is a field service demo application. This application shows several common mobile UX patterns used in phone-based applications. Demonstrated patterns include sign in, navigation drawer, dashboard, list view features, profiles, search, activity feeds and more.</p>
    <p>Device services such as camera, dialer, email and more are made available. Selected animations are used for transitions, component effects and graphic fade animations. This demo is available for different mobile themes (Android and iOS) and for a web theme.
    </p>
    <p>To learn more visit <a href="http://www.oracle.com/webfolder/technetwork/jet/index.html" target="_blank" title="Oracle JET website">Oracle JET website.</a>
    </p>
  </div>
  <footer role="contentinfo" style="text-align: center;">
    <img src="css/images/jet_green.png" title="Oracle JET Logo" alt="Oracle JET Logo" height="21px" width="21px" style="vertical-align:bottom; margin-right: 5px;" />Built with <strong>Oracle JET</strong>
  </footer>
</div>
