<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div style="text-align:center;">
	<div style="width: 40%; margin: auto; margin-top: 40px;">
		<svg role="img" aria-label="Check mark icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
      <title>check mark icon</title>
      <desc>check mark icon</desc>
      <g><circle fill="none" stroke="green" stroke-width="6" stroke-miterlimit="10" cx="50" cy="50" r="47"/><polygon points="72,25 42,71 27,56 23,60 43,80 77,28" stroke="green" fill="green"/></g>
    </svg>
	</div>

	<h4>Your incident has been submitted!</h4>
</div>
