<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <oj-bind-if test="[[!isSearchMode()]]">
      <header role="banner" class="oj-hybrid-applayout-header">
        <div class="oj-flex-bar-start">
          <oj-button id='navDrawerBtn' on-oj-action='[[toggleDrawer]]' chroming='half' display='icons'>
            <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-hamburger'></span>
            Navigation Drawer
          </oj-button>
        </div>
        <div class="oj-hybrid-applayout-bar-title">
          <h1 class="oj-hybrid-applayout-header-title">Customers</h1>
        </div>
        <div class="oj-flex-bar-end">
          <oj-button id='enterSearchBtn'  on-oj-action='[[goToSearchMode]]' chroming='half' display='icons'>
            <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-magnifier'></span>
            Search
          </oj-button>
        </div>
      </header>
    </oj-bind-if>

    <oj-bind-if test="[[isSearchMode()]]">
      <header role="banner" class="oj-hybrid-applayout-header">
        <div class="oj-flex-bar-start">
          <oj-button id='exitSearchBtn' on-oj-action='[[exitSearchMode]]' chroming='half' display='icons'>
            <span slot='startIcon' class='oj-hybrid-applayout-header-icon-back oj-fwk-icon'></span>
            Close Search
          </oj-button>
        </div>
        <div class="oj-flex-bar-middle">
          <oj-label for="inputSearch" style="display: none">Search for customer by name</oj-label>
          <oj-combobox-one id="inputSearch" raw-value="{{nameSearchRawValue}}" placeholder="Search for customer by name">
            <a slot="end" id="search-button" class="oj-fwk-icon-magnifier oj-fwk-icon oj-clickable-icon-nocontext"
            style="width: 32px;" role="button" aria-label="search"></a>
          </oj-combobox-one>
        </div>
        <div class="oj-flex-bar-end">
          <oj-button id='clearSearchBtn' on-oj-action='[[clearSearch]]' chroming='half' display='icons'>
            <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-cross'></span>
            Clear Input
          </oj-button>
        </div>
      </header>
    </oj-bind-if>
  </div>

  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">

      <oj-bind-if test="[[!isSearchMode()]]">
        <oj-button id='addCustomer' class='demo-fab' on-oj-action='[[goToAddCustomer]]' chroming='half' display='icons'>
          <span slot='startIcon' class='oj-fwk-icon demo-add-icon'></span>
          Add Customer
        </oj-button>
      </oj-bind-if>

      <oj-bind-if test="[[noResults()]]">
        <div class="demo-customers-no-results">
          <img src="css/images/search_watermark.svg">
          <h2>NO SEARCH RESULTS FOUND</h2>
        </div>
      </oj-bind-if>
      <oj-bind-if test="[[!noResults()]]">
        <div id="customerlistviewcontainer" class="oj-flex oj-sm-flex-wrap-nowrap">
          <oj-list-view id='customerlistview' data-oj-context aria-label='customers list' class='oj-flex-item demo-customers-container'
             data='[[indexerModel]]'
             item.renderer='[[selectTemplate]]'
             item.focusable='[[itemOnly]]'
             item.selectable='[[customerSelectable]]'
             drill-mode='none'
             selection-mode='single'
             on-selected-changed='[[customerSelected]]'
             translations.msg-no-data='No customers to display'>
          </oj-list-view>

          <oj-indexer id='indexer' aria-label='customers list indexer' aria-controls='customerlistview'
             class='demo-customers-container oj-sm-flex-initial oj-flex-item'
             :style.display="[[isSearchMode() ? 'none' : '']]"
             data='[[indexerModel]]'>
          </oj-indexer>
        </div>
      </oj-bind-if>
    </div>
  </div>

  <script type="text/html" id="group_template">
    <oj-bind-if test="[[$data.id]]">
      <li data-bind="attr: {id: $data.id}">
        <strong><oj-bind-text value="[[$data.label]]"></oj-bind-text></strong>
      </li>
    </oj-bind-if>
    <oj-bind-if test="[[! $data.id]]">
      <li data-bind="attr: {id: $data}">
        <strong><oj-bind-text value="[[$data]]"></oj-bind-text></strong>
      </li>
    </oj-bind-if>
  </script>

  <script type="text/html" id="item_template">
    <li :id="[[id]]" :class="[[{'demo-item-not-cached': !cached}]]">
      <div class="oj-flex-bar">

        <div class="oj-flex-bar-start demo-flex-zero">
          <div class="demo-customer-avatar-wrapper oj-flex oj-sm-align-items-center" :style.border="[['1px solid ' +
            $parent.appUtilities.formatAvatarColor('customer', id)]]">
            <div class="demo-customer-avatar" :id="[[id+'Avatar']]" :style.background="[[$parent.appUtilities.formatAvatarColor('customer', id)]]">
              <oj-bind-text value="[[$parent.appUtilities.formatInitials(firstName, lastName)]]"></oj-bind-text>
            </div>
          </div>
        </div>

        <div class="oj-flex-bar-middle oj-hybrid-padding-start oj-sm-align-items-center demo-flex-bar-no-overflow">
          <div :id="[[id+'Name']]" class="demo-customer-name demo-ellipsis-word-truncation"><oj-bind-text value="[[firstName + ' ' + lastName]]"></oj-bind-text></div>
        </div>
        <div class="oj-flex-bar-end oj-sm-align-items-center">
          <div role="presentation" aria-hidden="true" class="oj-fwk-icon oj-listview-drill-icon"></div>
        </div>
      </div>

    </li>
  </script>
</div>
