<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top" id="incidentMainPageTop">
    <header role="banner">
      <oj-module
          config="[[headerConfig]]"
          class="demo-ios-semi-transparent-bg"
          :class="[[{ 'oj-hybrid-applayout-header-no-border': router.stateId() !== 'priority' && router.stateId() !== 'status',
                      'oj-hybrid-applayout-header': router.stateId() === 'priority' || router.stateId() === 'status'}]]">
      </oj-module>
    </header>

  <oj-bind-if test="[[router.stateId() !== 'priority' && router.stateId() !== 'status']]">
    <div role="navigation" class="oj-hybrid-applayout-navbar-page demo-ios-semi-transparent-bg tabbarcontainer">
      <oj-tab-bar id='incidentTabsNav' aria-label='Incident Navigation Tab' class='demo-nav-tabs'
          selection='{{router.stateId}}'
          edge='top'
          on-selection-changed='[[navBarChange]]'>
        <ul>
          <li id="incidentTabSummary">
            <a href="#">Summary</a>
          </li>
          <li id="incidentTabActivity">
            <a href="#">Activity</a>
          </li>
          <li id="incidentTabMap">
            <a href="#">Map</a>
          </li>
        </ul>
      </oj-tab-bar>
    </div>
  </oj-bind-if>
  </div>
  <oj-module id="incident" class="oj-hybrid-applayout-page" config="[[moduleConfig]]"
            animation="[[moduleAnimation]]" on-oj-view-disconnected="[[viewDisconnected]]"></oj-module>
</div>
