<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<div class="oj-applayout-content oj-complete">
  <div role="main" class="oj-hybrid-applayout-content">
      <div id="incidentsMap" class="demo-incidents-map" data-bind="incidentsMap:map"></div>
  </div>
</div>




