<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-applayout-content" style="height:100vh">
  <div role="main" class="oj-hybrid-applayout-content" style="height:100%;overflow:auto;">

    <div class="demo-dashboard-container oj-flex oj-sm-flex-direction-column oj-sm-flex-wrap-nowrap">
      <h3 class="demo-flex-zero demo-dashboard-title">Incidents Needing Attention</h3>

    	<div class="oj-sm-flex-1 demo-pie-chart-container">

    		<oj-chart id='pieChart' class='demo-pie-chart'
            type='pie'
  	        series='[[pieSeriesValue]]'
  	        groups='[[pieGroupsValue]]'
            legend.rendered='off'
  	        style-defaults.pie-inner-radius='[[innerRadius]]'
            style-defaults.data-label-position='none'
  	        animation-on-data-change='auto'
  	        pie-center.label='[[centerLabel]]'
  	        pie-center.label-style='[[labelStyle]]'
            value-formats.value.converter='[[integerConverter]]'>
        </oj-chart>

    	</div>

      <div class="demo-flex-zero">
        <h5 class="oj-text-sm" style="margin-top:0;">Total Incidents</h5>

        <div class="oj-flex oj-hybrid-padding-bottom">
          <div class="oj-flex-item">
            <div id="highPriCount" class="demo-highcolor">
              <oj-bind-text value="[[numPriorityHigh]]"></oj-bind-text>
            </div>
            <div id="hightPriLabel" class="demo-counter-label">HIGH</div>
          </div>
          <div class="oj-flex-item">
            <div id="normalPriCount" class="demo-normalcolor">
              <oj-bind-text value="[[numPriorityNormal]]"></oj-bind-text>
            </div>
            <div id="normalPriLabel" class="demo-counter-label">NORMAL</div>
          </div>
          <div class="oj-flex-item">
            <div id="lowPriCount" class="demo-lowcolor">
              <oj-bind-text value="[[numPriorityLow]]"></oj-bind-text>
            </div>
            <div id="lowPriLabel" class="demo-counter-label">LOW</div>
          </div>
        </div>
      </div>

    	<div id="chart-container" class="demo-flex-zero demo-bar-chart-container">
        <div class="demo-flex-zero demo-dashboard-chart-title">INCIDENTS RESOLVED BY MONTH</div>

    		<oj-chart id='barChart' class='demo-bar-chart'
    				type='bar'
    				orientation='vertical'
    				stack='on'
    				series='[[barSeriesValue]]'
    				groups='[[barGroupsValue]]'
    				animation-on-data-change='auto'
    				animation-on-display='auto'
            tooltip.renderer='[[tooltipFunction]]'
			      data-cursor='on'
    				legend.rendered='on'
            legend.position='bottom'
            legend.text-style='{"color": "#C4C2C2"}'
    				y-axis.major-tick.line-color='#505252'
            y-axis.tick-label='{"style": {"color": "#C4C2C2"}}'
            x-axis.tick-label='{"style": {"color": "#C4C2C2"}}'
    				style-defaults.bar-gap-ratio='0.25'
    				value-formats.value.converter='[[integerConverter]]'>
    		</oj-chart>

    	</div>
    </div>

  </div>
</div>
