<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<div id="incidentMainPage" role="main" class="oj-applayout-content">

<div>
  <oj-list-view id='incidentSummaryList' class='' aria-label='incident summary' selection-mode='single' on-selected-changed='[[optionChange]]'>
    <ul>
      <li id="problem">
        <div class="oj-flex-bar">
          <div class="oj-flex-bar-start demo-summary-field-name-wrapper">
            <span class="demo-incident-summary-field-name oj-text-sm">Problem</span>
          </div>
          <div class="oj-flex-bar-middle">
            <span id="incidentProblem" class="demo-incident-summary-content demo-dont-break-out">
              <oj-bind-text value="[[incidentData().problem]]"></oj-bind-text>
            </span>
          </div>
        </div>
      </li>

      <li id="priority" on-click="[[goToPriority]]">
        <div class="oj-flex-bar">
          <div class="oj-flex-bar-start demo-summary-field-name-wrapper">
            <span class="demo-incident-summary-field-name oj-text-sm">Priority</span>
          </div>
          <div class="oj-flex-bar-middle oj-sm-align-items-center">
            <img id="incidentPriorityIcon" src="css/images/spacer.png" alt="Incident Priority Icon" :class="[['demo-icon-32 demo-priority-' + incidentData().priority + '-icon']]">
            <span id="incidentPriority" class="demo-incident-summary-content oj-hybrid-padding-start">
              <oj-bind-text value="[[incidentData().priority.toUpperCase()]]"></oj-bind-text>
            </span>
          </div>
          <div class="oj-flex-bar-end oj-sm-align-items-center">
            <div role="presentation" aria-hidden="true" style="position: relative; margin: 0;" class="oj-fwk-icon oj-listview-drill-icon"></div>
          </div>
        </div>
      </li>

      <li id="status" on-click="[[goToStatus]]">
        <div class="oj-flex-bar">
          <div class="oj-flex-bar-start demo-summary-field-name-wrapper">
            <span class="demo-incident-summary-field-name oj-text-sm">Status</span>
          </div>
          <div class="oj-flex-bar-middle oj-sm-align-items-center">
            <img id="incidentStatusIcon" src="css/images/spacer.png" alt="Incident Status Icon" :class="[['demo-icon-32 demo-status-' + incidentData().status + '-icon']]">
            <span id="incidentStatus" class="demo-incident-summary-content oj-hybrid-padding-start">
              <oj-bind-text value="[[incidentData().status.toUpperCase()]]"></oj-bind-text>
            </span>
          </div>
          <div class="oj-flex-bar-end oj-sm-align-items-center">
            <div role="presentation" aria-hidden="true" style="position: relative; margin: 0;" class="oj-fwk-icon oj-listview-drill-icon"></div>
          </div>
        </div>
      </li>
      <li id="customer" on-click="[[function() { return goToCustomer(incidentData().customerId, incidentData().id) }]]">
        <div class="oj-flex-bar">
          <div class="oj-flex-bar-start demo-summary-field-name-wrapper">
            <span class="demo-incident-summary-field-name oj-text-sm">Customer</span>
          </div>
          <div class="oj-flex-bar-middle">
            <a href="#" id="customerName" class="demo-incident-summary-content">
              <oj-bind-text value="[[incidentData().customer.firstName + ' ' + incidentData().customer.lastName]]"></oj-bind-text>
            </a>
          </div>
        </div>
      </li>
      <li id="phone">
        <div class="oj-flex-bar">
          <div class="oj-flex-bar-start demo-summary-field-name-wrapper">
            <span class="demo-incident-summary-field-name oj-text-sm">Mobile</span>
          </div>
          <div class="oj-flex-bar-middle">
            <a id="customerMobile" class="demo-incident-summary-content" :href="[['tel:'+incidentData().customer.mobile]]">
              <oj-bind-text value="[[incidentData().customer.mobile]]"></oj-bind-text>
            </a>
          </div>
        </div>
      </li>
      <li id="address">
        <div class="oj-flex-bar">
          <div class="oj-flex-bar-start demo-summary-field-name-wrapper">
            <span class="demo-incident-summary-field-name oj-text-sm">Address</span>
          </div>
          <div class="oj-flex-bar-middle">
            <a id="incidentLocation" class="demo-incident-summary-content demo-pointer-cursor" on-click="[[goToCustomerLocationMap]]">
              <oj-bind-text value="[[incidentData().location.formattedAddress]]"></oj-bind-text>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </oj-list-view>

</div>
</div>
