<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div id="incidentMainPage" role="main" class="oj-applayout-content">
  <div id="activityListViewWrapper" style="margin-bottom: 48px;">
    <oj-refresher id="refresher" refresh-content="[[refreshList]]" text="Checking for new activities...">
      <oj-list-view id='activityListView' class='demo-activity-listview' aria-label='incident activities list'
          data='[[dataSource]]'
          selection-mode='none'
          scroll-policy-options.scroller='[[scrollElem]]'
          translations.msg-no-data=''>
        <template slot="itemTemplate" data-oj-as="item">
          <div class="oj-flex-bar">
            <div class="oj-flex-bar-start oj-sm-align-items-center demo-flex-zero">
              <div class="demo-customer-avatar-wrapper oj-flex oj-sm-align-items-center" :style.border="[['1px solid ' + appUtilities.formatAvatarColor(item.data.role, item.data.userId)]]">
                <div :id="[[item.data.id+'Avatar']]" class="demo-customer-avatar" :style.background="[[appUtilities.formatAvatarColor(item.data.role, item.data.userId)]]">
                  <oj-bind-text value="[[appUtilities.formatInitials(item.data.firstName, item.data.lastName)]]"></oj-bind-text>
                </div>
              </div>
            </div>
            <div class="oj-flex-bar-middle oj-hybrid-padding-start oj-flex oj-sm-flex-direction-column oj-sm-flex-wrap-nowrap">
              <div class="oj-flex-bar">
                <div :id="[[item.data.id+'Name']]" class="oj-flex-bar-start demo-incidents-list-item-problem">
                  <oj-bind-text value="[[item.data.firstName + ' ' + item.data.lastName]]"></oj-bind-text>
                </div>
                <div :id="[[item.data.id+'Time']]" class="oj-flex-bar-end demo-incidents-list-item-status demo-flex-zero">
                  <oj-bind-text value="[[appUtilities.formatTimeStamp(item.data.createdOn).time]]"></oj-bind-text>
                </div>
              </div>
              <div class="oj-flex-bar">
                <div :id="[[item.data.id+'Comment']]" class="oj-flex-bar-start demo-incidents-list-item-customer demo-dont-break-out">
                  <oj-bind-text value="[[item.data.comment]]"></oj-bind-text>
                </div>
                <div :id="[[item.data.id+'Date']]" class="oj-flex-bar-end demo-incidents-list-item-customer demo-flex-zero">
                  <oj-bind-text value="[[appUtilities.formatTimeStamp(item.data.createdOn).date]]"></oj-bind-text>
                </div>
              </div>
            </div>
          </div>
          <oj-bind-if test="[[item.data.picture]]">
            <div style="text-align:center;padding-left:57px;position: relative;">
              <img :id="[[item.data.id + '-pic']]" :src="[[item.data.picture]]" width="100%" alt="activity photo"/>
            </div>
          </oj-bind-if>
          <oj-bind-if test="[[item.data.pdf]]">
            <oj-bind-if test="[[isMobile]]">
              <div style="text-align:center;padding-left:57px;position: relative;">
                <oj-button :id="[[item.data.id + '-pdf']]" on-oj-action='[[openLocalFile]]'>View PDF attachment</oj-button>
              </div>
            </oj-bind-if>
            <oj-bind-if test="[[!isMobile]]">
              <div style="text-align:center;padding-left:57px;position: relative;">
                <a :id="[[item.data.id + '-pdf']]" :href='[[item.data.pdf]]' download>View PDF attachment</a>
              </div>
            </oj-bind-if>
          </oj-bind-if>
        </template>
      </oj-list-view>
    </oj-refresher>
  </div>

  <div class="oj-applayout-fixed-bottom demo-activity-footer">
    <footer role="contentinfo" class="oj-hybrid-applayout-footer">
      <div id='activityFlexBarId' class='oj-flex-bar demo-activity-flexbar' aria-controls='activityListView'>
        <div class="oj-flex-bar-start demo-activity-flexbar-start">
          <oj-button id='bottom' class='oj-button-half-chrome' on-oj-action='[[changePhoto]]' chroming='half' display='icons'>
            <span slot='startIcon' class='oj-fwk-icon demo-icon-font-24 demo-camera-icon-24'></span>
            Camera
          </oj-button>
          <input type="file" id="upload-activity-pic" accept="image/*" style="display: none;height: 0;width: 0;">
        </div>

        <div class="oj-flex-bar-middle">
          <oj-input-text id='activityTextInput' aria-label='activity message'
                         placeholder='Enter message to post' value='{{activityText}}'
                         on-keyup="[[validatePostBtnState]]" style='margin-bottom:0;'></oj-input-text>
        </div>

        <div class="oj-flex-bar-end">
          <oj-button id='postBtn' class='oj-button-half-chrome' chroming='half'
            on-oj-action='[[postActivity]]' disabled='[[postBtnDisabled]]'>
            Post
          </oj-button>
        </div>
      </div>
    </footer>
  </div>
</div>
