<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div id="incidentMainPage" role="main" class="oj-applayout-content">

<div aria-label="priority">
  <oj-radioset id='priorityRadioSet' class='oj-radioset-no-chrome oj-radioset-input-end'
        value='{{incidentData().priority}}'
        on-value-changed='[[priorityChange]]'
        disabled='[[isReadOnlyMode]]'>
    <oj-option id='high' value='high'>
      <img src='css/images/spacer.png' class='demo-icon-32 demo-priority-high-icon' aria-hidden="true" slot='startIcon'></img>High</oj-option>
    <oj-option id='normal' value='normal'>
      <img src='css/images/spacer.png' class='demo-icon-32 demo-priority-normal-icon' aria-hidden="true" slot='startIcon'></img>Normal</oj-option>
    <oj-option id='low' value='low'>
      <img src='css/images/spacer.png' class='demo-icon-32 demo-priority-low-icon' aria-hidden="true" slot='startIcon'></img>Low</oj-option>
  </oj-radioset>
</div>
</div>