<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top" id="policyContentTop">
    <header role="banner" >
      <oj-module id="incidentHeader" class="oj-flex-bar oj-hybrid-applayout-header oj-sm-align-items-center" config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content oj-complete" id="policyContent">
    <div class="oj-hybrid-padding demo-solid-bg demo-private-policy">
    <p>Oracle Corporation and our subsidiaries and affiliates (&quot;Oracle&quot; or &quot;we&quot;) respect your preferences concerning the treatment of Personal Information that we may collect. This policy lets you know how we collect and use your Personal Information, how you can control its use, and describes our practices regarding information collected from the different Oracle sites that link or refer to this policy (such as our websites, computer or mobile software applications, social media pages and HTML-formatted e-mail messages), as well as through offline sales and marketing activities (collectively, the &quot;Channels&quot;).</p> <p>The Channels may provide links to or the ability to connect with non-Oracle websites, services, social networks or applications. Clicking on those links or enabling those connections may allow the third party to collect or share information about you. Those third-party websites or services are beyond our control. We encourage you to check the privacy policies and terms of use of any non-Oracle websites or services before providing your Personal Information to them.</p> <hr /> <h3>Personal and Other Information We Collect</h3> <p>Through your interaction with and use of the Channels, Oracle may collect <strong>Personal Information</strong>, which is information that identifies an individual or relates to an identifiable individual. Personal Information may include, but is not limited to, your name, physical address, telephone number, e-mail address, company affiliation and associated interests.</p> <p>Oracle may also collect <strong>Other Information</strong> through your interaction with and use of the Channels and non-Oracle websites, which does not reveal your specific identity or does not directly relate to an individual. Other Information may include, but is not limited to, browser and device information, data collected through automated electronic interactions, application usage data, demographic information, geographic or geo-location information, statistical and aggregated information.</p> <p>Statistical or aggregated information does not directly identify a specific person, but it may be derived from Personal Information. For example, we may aggregate Personal Information to calculate the percentage of users in a particular zip code.</p> <p>In some instances, we may combine Other Information with Personal Information, such as combining a precise geographical location with your name. If we combine Other Information with Personal Information, we will treat the combined information as Personal Information.</p> <hr /> <h3>How We Use and Share Information</h3> <h3>Personal Information</h3> <p>Oracle uses and shares the Personal Information it collects (unless otherwise restricted by applicable law), to:</p> <p><strong>Engage in Transactions.</strong> Oracle may use Personal Information to engage in transactions with you.</p> <p><strong>Process Transactions.</strong> Oracle may use Personal Information along with, financial, credit card, and payment information, to process your transactions.</p> <p><strong>Provide Support or Other Services.</strong> Oracle may use your Personal Information to provide you support or other services you have ordered, as well as product updates, product patches and fixes and other similar operational communications.</p> <p><strong>Tailor Marketing to Your Needs and Respond to Your Requests.</strong>  Oracle may use your Personal Information to notify you about new product releases and service developments, and to advertise Oracle's products and services in accordance with this Policy. Your website visit, marketing experience, and communications may be tailored to your interests based on your Personal Information. Oracle may also use Personal Information in order to respond directly to your information requests (including newsletter registrations or other specific requests), or pass your contact information to the appropriate Oracle distributor or reseller for further follow-up related to your interests. In addition, if you consent, Oracle may share your Personal Information with other selected partners that offer complementary products or services. Please review the specific partner's privacy policy regarding any further interactions with them.</p> <p><strong>Provide Oracle Online Communities.</strong> Some Channels permit you to: participate in interactive discussions; create a profile; post comments, opportunities or other content; communicate directly with another user; or otherwise engage in networking activities. Some of these services are moderated and all may be accessed for technical reasons. Oracle does not control the content that users post to these forums or social networks. You should carefully consider whether you wish to submit Personal Information to these forums or social networks and whether you wish to make your profile available to other users, and you should tailor any content you submit appropriately. You should also review any additional terms and conditions that may govern your use of these Channels. To manage or remove your Personal Information from our online communities, please fill out a <a target="_blank" href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">request form</a>. If we are not able to remove your Personal Information, we will let you know.</p> <p><strong>Interact with You on Third Party Social Networks.</strong> Oracle may use your Personal Information to interact with you on third party social networks. Oracle's interactions with you on a third party social network would be subject to that network's privacy policies and terms of use.</p> <p><strong>Post Testimonials.</strong>  We post testimonials on our Channels that may contain Personal Information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update or delete your testimonial, please fill out a <a target="_blank" href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">request form</a>, and be sure to include your name, testimonial location, and contact information.</p> <p><strong>Administer Product Downloads and Licensing Compliance.</strong>  If you download products from our Channels, Oracle uses Personal Information to: confirm certain information about your order (for example, that you did not experience problems in the download process); discuss the downloaded products; or provide marketing or sales information about related products and services. Oracle also may use Personal Information to contact you, confirm compliance with licensing and other terms of use, and may share it with your company.</p> <p><strong>Select Content, Improve Quality and Facilitate Use of the Channels.</strong> Oracle may use your Personal Information to help create and personalize content on our Channels, facilitate your use of the Channels (for example, to facilitate navigation and the login process, avoid duplicate data entry, enhance security, keep track of shopping cart additions and preserve order information between sessions), improve quality, track marketing campaign responsiveness (including online advertising and e-mail marketing), and evaluate page response rates.</p> <p><strong>Provide various Oracle Communities, such as Partners, with Relevant Product Alerts and Updates.</strong>  If you sign up for an Oracle community or program (e.g., Oracle Partner Network, Oracle Technology Network, Oracle.com), Oracle will provide you information regarding your expressed interests, such as new product releases, alerts, updates, prices, terms, special offers and associated campaigns.</p> <p><strong>Power Joint Sales or Product Promotions.</strong> Oracle and its partners may engage in joint sales or product promotions. Such promotions will always reference the partners involved. Both Oracle and the partner(s) will have access to that information, and either Oracle or our partners may provide you the sales or product promotion information. Each party will be responsible for managing their own use of the Personal Information collected for the joint sale or product promotion. We recommend you review the privacy policies of these partners to address any questions you have regarding their handling of your information.</p> <p><strong>Contact a Referral/&quot;Tell a Friend&quot;. </strong> If you elect to use our referral service to inform a friend about our products or services, we will ask you for the friend's contact information. Oracle will then send your friend a one-time contact related to your referral request. Oracle uses the Personal Information you provide in this situation solely for the purpose of sending the one-time contact and tracking the success of our referral program. Your friend may contact Oracle through our inquiry form to be removed from the referral program.</p> <p><strong>Improve Products, Services, and Experiences.</strong> Oracle may use your Personal Information to evaluate and improve our products, services, marketing, and customer relationships.</p> <p><strong>Communicate with You about a Conference or Event.</strong>  We or our partners may communicate with you about a conference or event hosted or co-sponsored by Oracle or one of our partners. This may include information about the event's content, logistics, payment, updates, and any additional meetings, special demonstrations or other customer facilitation that we may provide related to your event registration. After the event, Oracle may contact you about the event and related products and services, and may share information about your attendance with your company. Where legally permitted, Oracle will also allow designated partners or conference sponsors to send you up to two communications related to your event attendance. Please note that our partners or conference sponsors may directly request your Personal Information at their conference booths or presentations. You should review their privacy policies to learn how they use Personal Information.</p> <p><strong>Obtain Third Party Services.</strong> We also share Personal Information with third parties who provide services to Oracle, such as credit card processing services, order fulfillment, analytics, event / campaign management, web site management, information technology and related infrastructure provision, customer service, e-mail delivery, auditing, and other similar services. When Oracle shares Personal Information with third party service providers, we require that they use your Personal Information only for the purpose of providing services to us and subject to terms consistent with this Policy.</p> <p><strong>Protect our Employees, Sites, Facilities, and Operations.</strong> Oracle may disclose your Personal Information as we believe to be necessary or appropriate to protect the health and safety of our employees and visitors, our physical and online operations, our property, rights, and privacy, and/or that of our affiliates, you or others. If you visit our offices, you may be photographed or videotaped as part of maintaining the security of our facilities. Facility security photography will be treated as sensitive information and will only be used for security and investigation purposes.</p> <p><strong>Comply with Legal Requirements and Corporate Transactions.</strong> Oracle may disclose your Personal Information as we believe to be necessary or appropriate: (a) under applicable law, including laws outside your country of residence; (b) to comply with legal process; (c) to respond to requests from public and government authorities, including public and government authorities outside your country of residence; (d) to enforce our terms and conditions; and (e) to allow us to pursue available remedies or limit the damages that we may sustain. Additionally, in the event of a reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business, assets or stock (including in connection with any bankruptcy or similar proceedings), we may transfer the Personal Information we have collected to the relevant third party.</p> <p>Some of the Personal Information uses specified above are not mandatory and may be controlled by you. Please refer to the <a href="#opt-out">&quot;Registration, Preferences and Opt Out&quot;</a> section below for information on available use preferences or opt-out options, or view the summary of your <a href="https://www.oracle.com/legal/privacy/privacy-choices.html">Privacy Choices</a>.</p> <h3>Other Information</h3> <p>We may use, transfer, and disclose Other Information we collect for any purpose, except where applicable law requires otherwise. If we are required to treat Other Information as Personal Information under applicable law, then we will only use it in the same way that we are permitted to use and disclose Personal Information.</p> <hr /> <h3>How We Collect Information</h3> <p>Oracle and our third party service providers may collect both Personal Information and Other Information from a variety of sources that generally fall into three categories:</p> <ul class="c47obullets">     <li><strong>Direct Interactions:</strong> From your use of and interaction with us through the Channels and other activities such as account creation, submission of registrations and forms, or sales inquiries and transactions.</li>     <li><strong>Publicly Available Data / Data from Third Parties:</strong> Data from Automated Interactions on non-Oracle websites, or other data you may have made publicly available, such as social media posts, or data provided by third party sources, such as marketing opt-in lists, or data aggregators.</li>     <li><strong>Automated Interactions:</strong> From the use of technologies such as <a href="#protocols">electronic communication protocols</a>, <a href="#cookies">cookies</a>, <a href="#embedded-urls">embedded URLs</a> or <a href="#pixels">pixels</a>, or <a href="#widgets">widgets, buttons and tools</a>.</li> </ul> <p>Although Oracle's use of Automated Interactions may change over time as technology evolves, the following descriptions are designed to provide you with additional detail about Oracle's current approach to information collected from Automated Interactions.</p> <a id="protocols" name="protocols"></a> <p><strong>Electronic Communications Protocols:</strong> As is true when you visit most websites and apps, Oracle may automatically receive information from you as part of the communication connection itself, which often consists of network routing information (where you came from), equipment information (browser type), your IP address (which may identify your general geographic location or company), and date and time.</p> <p>Oracle may also automatically receive and record information about your interaction with the Channels, such as clickstream information (when each Oracle webpage was visited and how much time was spent on the page), or general geo-location data.</p> <a id="cookies" name="cookies"></a> <p><strong>Cookies:</strong> Oracle's server will query your browser to see if there are &quot;cookies&quot; previously set by our electronic Channels. A cookie is a small piece of information sent by a Web server to store on a Web browser so it can later be read back from that browser. Cookies may collect information, including a unique identifier, user preferences, profile information, membership information, and general usage and volume statistical information. Cookies may also be used to collect individualized web site use data, provide electronic Channel personalization, or conduct and measure the effectiveness of advertising in accordance with this Policy. Some cookies may remain on users' computers after they leave the Website. While the majority are set to expire within 1-24 months of your last visit to the website that set the cookie, others may not expire because of their nature, like cookies that remember opt-out preferences.</p> <p>Your browser may provide you with information and control over cookies. You can set your browser to alert you when a cookie is being used, and accept or reject the cookie. You can also set your browser to refuse all cookies or accept only cookies returned to the originating servers. Users can generally disable the cookie feature on their browser without affecting their ability to use the site, except in some cases where cookies are used as an essential security feature necessary for transaction completion. Cookies, however, are important to the proper functioning of a site, and disabling them may degrade your experience and interfere with Web site features and customizations.</p> <p>Oracle has engaged one or more third party service providers to track and analyze both individualized usage and volume statistical information from interactions with electronic Channels. The service provider(s) set cookies on behalf of Oracle. Oracle also uses other third party cookies to provide advertising and personalization services in accordance with this Policy, and to track the performance of Oracle advertisements on their websites and Oracle e-mails.</p> <p><strong>Managing Cookie Preferences:</strong>  You may access or change your <a href="javascript:truste.eu2.clickListener('a');">cookie preferences</a> at any time.  If you have any problems using this cookie preference mechanism, please fill out an <a target="_blank" href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">inquiry form</a>.</p> <p><strong>Flash Cookies:</strong>  We may use Flash cookies, also known as &quot;local shared objects,&quot; on our electronic Channels that employ Flash technology. Flash cookies are used to remember the site's settings to personalize the look and feel of the site. Like normal cookies, Flash cookies are represented as small files on your computer. One method of preventing Flash cookies from being placed is to adjust your preferences in the Macromedia Website Privacy Settings Panel at <a target="_blank" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager06.html">macromedia.com</a>.</p> <a id="embedded-urls" name="embedded-urls"></a> <p><strong>Embedded URLs:</strong>  Oracle may use a tracking technique that employs embedded URLs to allow use of the electronic Channels without cookies. Embedded URLs allow limited information to follow you as you navigate the electronic Channels, but are not associated with Personal Information and are not used beyond the session.</p> <a id="pixels" name="pixels"></a> <p><strong>Embedded Pixels and Similar Technologies:</strong> On the electronic Channels, Oracle and its service providers may use embedded pixel technologies for the purposes of identifying unique user visits (as opposed to aggregate hits), and for advertising purposes. In addition, embedded pixels or other technologies may be used in e-mails and our online display advertising to provide information on when the e-mail or ad was opened to track marketing campaign responsiveness; information collected using these technologies may be associated with the recipient's e-mail address.</p> <a id="widgets" name="widgets"></a> <p><strong>Widgets, Buttons, and Tools:</strong> Our electronic Channels may include widgets, which are interactive mini-programs that run on our site to provide specific services from another company (e.g., links to bookmarked sites), along with buttons or other tools that link to other companies' services (e.g., a &quot;Like&quot; button or third party map). The widget, button or tool may collect and automatically send Personal Information, such as your e-mail address, or Other Information (such as your browser information, or IP address), to a third party. Cookies may also be set or used by the widgets, buttons or tools to enable them to function properly or for other purposes, which may include advertising. Information collected or used by a widget, button or tool, including cookie settings and preferences, is governed by the privacy policy of the company that created it.</p> <p><strong>Physical Location:</strong> We may collect the physical location of your device and use it to provide you with personalized location-based services or content. In some instances, you may be permitted to allow or deny such use of your device's location, but if you choose to deny such use, we may not be able to provide you with the applicable personalized services or content.</p>  <a id="opt-out" name="opt-out"></a> <hr /> <h3>Registration, Preferences, and Opt-Out</h3> <p>A list of your current Privacy Choices is listed on the <a href="https://www.oracle.com/legal/privacy/privacy-choices.html">following tab</a>.</p> <p><strong>Registration</strong><br /> Oracle allows you to establish an online registration profile for marketing communications at Oracle.com. You may use the profile to customize and control your preferences for receiving electronic information, including opting into (or out of) communities, newsletters and general interest areas. You can return to the registration profile at any time to change your elections or modify your profile at <a target="_blank" href="https://profile.oracle.com/">https://profile.oracle.com/</a>.  Please login as usual and follow the prompts to &quot;update my profile.&quot;</p> <p><strong>Preferences and Opt-Out.</strong><br /> <strong>E-mail Marketing.</strong> Oracle enables you to opt out of marketing communications. You may opt out of e-mail marketing by modifying your online profile as described above or by using our general unsubscribe automated link that is included in Oracle marketing e-mails. You can find details on how to automatically unsubscribe from e-mail communications, as well as how to submit requests to opt-out from phone and postal marketing, on our <a href="https://www.oracle.com/us/corporate/contact/about-your-account-070507.html">Oracle.com Account Help page</a>. If you have any problems using any of these opt-out mechanisms, please fill out an <a href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">inquiry form</a>.</p> <p>Some non-marketing communications are not subject to general opt-out, such as communications related to product download, sales transactions, software updates and other support related information, patches and fixes, conferences or events for which you have registered, disclosures to comply with legal requirements, and (where permitted by law) quality assurance surveys. Some additional communications with partners are also not subject to general-opt out, including product alerts, updates, contractual marketing and sales materials, and other notices related to partner status.</p> <p><strong>Cookies and Do Not Track Preferences.</strong> Oracle enables you to opt out of cookies that are not required to enable core site functionality. Oracle uses its cookies preferences tool to processes Internet advertising and tracking preferences, but does not process any other Do Not Track signals. Once you have set your cookie preferences, Oracle will follow the specific choices you made there. Please remember that if you delete your cookies, or use a different browser or computer, you will need to set your cookies preferences again. You may access or change your <a href="javascript:truste.eu2.clickListener('a');">cookie preferences</a> at any time. If you have any problems using this cookie preference mechanism, please fill out an <a href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">inquiry form</a>.</p> <p>Oracle enables you to opt out of personalized (non-anonymized) website analytics. You may access or change your <a href="https://www.oracle.com/legal/privacy/privacy-choices.html">website analytics preferences</a> at any time. If you have any problems using this website analytics preference mechanism, please fill out an inquiry form.</p> <p><strong>Information-Sharing Choices.</strong> Oracle only shares Personal Information with selected companies after providing users the ability to make choices about the sharing, or as otherwise described in this Policy. There are limitations to opting out of such sharing in the case of: (1) joint sales or joint events; (2) where the customer has requested follow-up which involves Oracle partners; (3) where third parties are required to accomplish the transaction or perform the service; and (4) where required by law.</p> <p><strong>Third Party Permission-Based Lists.</strong> On occasion, Oracle may use third-party lists to send communications about Oracle products and services. These lists, which are maintained by third parties, include users eligible under applicable law to receive e-mails from other companies such as Oracle. When we use such lists, the communications will include mechanisms to opt out of receiving Oracle marketing communications. If you have trouble opting out, or if you wish to make us aware of any issues related to a third-party mailing, you may contact us directly through our inquiry form.</p> <p><strong>For California Residents.</strong> Under California Civil Code Section 1798.83 (also known as S.B. 27), if you are a California resident and your business relationship with Oracle is primarily for personal, family, or household purposes, you may request certain data regarding Oracle's disclosure, if any, of Personal Information to third parties for the third-parties' direct marketing purposes. To make such a request, please fill out an inquiry form; you may make such a request up to once per calendar year. If applicable, we will provide you, by e-mail, a list of the categories of Personal Information disclosed to third parties for their direct marketing purposes during the immediately preceding calendar year, along with the third parties' names and addresses. Please note that not all Personal Information sharing is covered by S.B. 27's requirements.</p> <hr /> <h3>Access, Correction, and Profile Updates</h3> <p>You may request to review, correct, update, suppress, or otherwise modify any of your Personal Information that you have previously provided to us through the Channels, or object to the use or processing of such Personal Information by us. You have the ability to update your Oracle profile and related Personal Information at any time. To change this information, please login at <a target="_blank" href="https://profile.oracle.com/">https://profile.oracle.com/</a> and follow the prompts to &quot;update my profile.&quot; If you have questions about your account or are having trouble accessing your account, you can get answers to Frequently Asked Questions (FAQs) and request  <a href="http://www.oracle.com/us/corporate/contact/about-your-account-070507.html">help with your account</a>. If you have privacy concerns regarding access to or the correction of your Personal Information, please contact us through our <a href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">inquiry form</a>, or write to us at the following address:</p> <p>7700 Technology Way<br /> Denver, CO 80237<br /> Attn: Chief Privacy Officer</p> <p>In your request, please make clear what Personal Information you would like to have changed, whether you would like to have your Personal Information that you have provided to us suppressed from our database or otherwise let us know what limitations you would like to put on our use of your Personal Information that you have provided to us.</p> <p>While the majority of questions and issues related to access can be handled quickly, complex requests may take more research and time. In such cases, issues will be addressed, or you will be contacted regarding the nature of the problem and appropriate next steps, within thirty days.</p> <hr /> <h3>Retention and Deletion</h3> <p>Oracle will retain your Personal Information for as long as your account is active; as needed to provide you products or services; as needed for the purposes outlined in this policy or at the time of collection; as necessary to comply with our legal obligations (e.g., to honor opt-outs), resolve disputes, and enforce our agreements; or to the extent permitted by law.</p> <p>At the end of the retention period, Oracle will delete your Personal Information in a manner designed to ensure that it cannot be reconstructed or read.</p> <hr /> <h3>Advertising</h3> <p>Oracle uses some third parties to administer a limited set of Oracle advertisements on third party electronic channels. No Personal Information is provided to the advertisers as part of this process, but aggregate profile information or Other Information, such as user community or implied or inferred interests, may be used in the selection of advertising to make sure that it has relevance to the user. Some banner ads may contain embedded pixels that may write and read cookies or return session connection information that allows advertisers to better determine how many individual users have clicked on the ad banner.</p> <p>Oracle may also use advertising technologies and participate in advertising technology networks that collect Other Information from Oracle and non-Oracle websites, as well as from other sources, to show you Oracle-related advertisements on Oracle&rsquo;s own and third-party websites. These advertisements may be tailored to your perceived interests using retargeting and behavioral advertising technologies, a set of practices collectively referred to as &ldquo;Interest Based Advertising&rdquo; in this policy. Any retargeted or behavioral advertisements served to your browser will contain information on or near it that informs you about the advertising technology partner and how to opt-out of viewing such advertisements. You also may opt out by visiting the Interest Based Advertising portion of the <a href="https://www.oracle.com/legal/privacy/privacy-choices.html">Privacy Choices tab of this policy</a>. Opting-out does not mean that you will stop receiving ads from Oracle. It means that you still stop receiving ads from Oracle that have been targeted to you based on your visits and browsing activity across websites over time.</p> <p>Cookie-based tools that allow you to opt-out of Interest Based Advertising prevent Oracle and other participating advertising technology companies from serving interest-related ads to you on behalf of Oracle. They will only work only on the Internet browser on which they are deposited, and they will only function only if your browser is set to accept third-party cookies, and . These cookie-based opt-out tools may not be as reliable where (e.g., certain mobile devices and operating systems) cookies are sometimes automatically disabled or removed. If you delete cookies, change browsers, computers or use another operating system, you will need to opt-out again.</p> <p>Oracle is a member of the Network Advertising Initiative (NAI) and works with industry-leading companies to address important privacy and consumer protection issues in online advertising. The NAI has created a compliance program that incorporates attestation reviews, a consumer complaint process, sanctions and annual reporting to help ensure that member companies keep their promises to you and abide by the NAI's Self-Regulatory Code of Conduct. <a href="http://www.networkadvertising.org/" target="_blank">Click here</a> to learn more about the NAI.</p> <p>Oracle also participates in the Digital Advertising Alliance (DAA) and European Digital Advertising Alliance (EDAA) self-regulatory programs and adheres to the DAA and EDAA Principles for Online Behavioral Advertising.  <a href="http://www.aboutads.info/" target="_blank">Click here</a> to learn more about the DAA.  <a href="http://www.edaa.eu/" target="_blank">Click here</a> to learn more about the EDAA.</p> <p>Note that this section pertains only to advertising to market Oracle products and services performed on Oracle&rsquo;s behalf. For general privacy-related information on Oracle&rsquo;s interest based advertising technology, including how other companies may use this technology to tailor their own or other third-party advertisements, <a target="" href="https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html">click here</a>.</p> <hr /> <h3>Security</h3> <p>The security of your Personal Information is very important to Oracle. We use physical, electronic, and administrative safeguards that are designed to protect your Personal Information from loss, misuse and unauthorized access, disclosure, alteration and destruction.</p> <p>In addition, Oracle uses standard security protocols and mechanisms to exchange the transmission of sensitive data such as credit card details. When you enter sensitive Personal Information such as your credit card number on our site, we encrypt it using secure socket layer (SSL) technology.</p> <p>In the event that your Personal Information is acquired, or is reasonably believed to have been acquired, by an unauthorized person and applicable law requires notification, Oracle will notify you by e-mail, fax, or U.S. mail. Oracle will give you notice promptly, consistent with the reasonable needs of law enforcement and/or Oracle to determine the scope of the breach and to investigate and restore the integrity of the data system.</p> <hr /> <h3>Cross Border Transfers</h3> <p>Oracle is a global corporation with operations in over 80 countries and has developed global data practices designed to assure your personally-identifiable information is appropriately protected. Please note that Personal Information may be transferred, accessed and stored globally as necessary for the uses and disclosures stated above in accordance with this policy.</p> <p>The Oracle affiliates have entered into and executed an Agreement for the International Transfer of Personal Information within the Oracle Group (&ldquo;Intra-Company Agreement&rdquo;) which allows for the processing of your Personal Information and which also incorporates the European Union Model Clauses requirements for transfers of your Personal Information.</p> <p>Oracle also continues to adhere to the underlying European privacy principles of the US-EU and US- Swiss Safe Harbor programs for Personal Information received from the EU and Switzerland.</p> <p><strong>Dispute Resolution</strong><br /> If you have any complaints regarding our compliance with this policy, you should first <a target="_blank" href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">contact us</a>. We will investigate and attempt to resolve complaints and disputes regarding use and disclosure of Personal Information in accordance with this privacy policy.</p> <p>If contacting us does not resolve your complaint, you may raise your complaint with TRUSTe by <a target="_blank" href="http://watchdog.truste.com/pvr.php?page=complaint">Internet</a>, fax to 415-520-3420, or mail to TRUSTe Compliance Dept. (<a target="_blank" href="https://www.truste.com/about-truste/contact-us/">click for mailing address</a>).  If you are faxing or mailing TRUSTe to lodge a complaint, you must include the following information: the name of the company, the alleged privacy violation, your contact information, and whether you would like the particulars of your complaint shared with the company. For information about TRUSTe or the operation of TRUSTe's dispute resolution process, visit the <a href="https://feedback-form.truste.com/watchdog/request" target="_blank">TRUSTe feedback page</a> or request this information from TRUSTe by fax or mail as indicated above.</p> <hr>
  <h3>TRUSTe Certification and Complaints</h3>
  <div class="caption rightImage" id="d2dc6d4d-3545-47ac-b1a4-52ad9e37f4b8"><a href="http://privacy.truste.com/privacy-seal/ORACLE-Corporation/validation?rid=c3494dad-9836-48cf-9d86-0f36fc9a04c6" title="TRUSTe European Safe Harbor certification" target="_blank"><img style="border: none" src="http://privacy-policy.truste.com/privacy-seal/ORACLE-Corporation/seal?rid=c3494dad-9836-48cf-9d86-0f36fc9a04c6" alt="TRUSTe European Safe Harbor certification" /></a></div>
  <p>Oracle has been awarded TRUSTe's Privacy Seal signifying that this privacy policy and practices have been reviewed by TRUSTe for compliance with <a target="_blank" href="http://www.truste.com/privacy_seals_and_services/consumer_privacy/privacy-programs-requirements.html">TRUSTe's program requirements</a> including transparency, accountability and choice regarding the collection and use of your Personal Information. The TRUSTe Program applies to Oracle's Websites (including its social media pages) and offline privacy practices, services privacy policy, recruiting privacy policy, and marketing cloud &amp; data cloud privacy policy. It does not cover Personal Information that may be collected through software downloaded from the Oracle.com Web sites or Oracle publications. If you have questions or complaints regarding our privacy policy, please fill out an <a href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">inquiry form</a> first. If you are not satisfied with our response, you can contact TRUSTe or you have the right to make a complaint to your local Information Commissioner.</p> <p>If you have an unresolved privacy or data use concern that we have not addressed satisfactorily, please contact TRUSTe by <a href="https://feedback-form.truste.com/watchdog/request" target="_blank">clicking here</a>.</p> <hr /> <h3>Sensitive Information</h3> <p>We ask that you not send us, and you not share any sensitive Personal Information (e.g., Social Security numbers, information related to racial or ethnic origin, political opinions, religion or other beliefs, health, criminal background or trade union membership).</p> <hr /> <h3>Children's Privacy</h3> <p>As a company focused on serving the needs of businesses, Oracle's Channels are not directed to minors and Oracle does not promote or market its services to minors, except as part of specific educational outreach programs with parental permission. If you believe that we have mistakenly or unintentionally collected Personal Information of a minor through our Channels without appropriate consent, please notify us through our <a href="https://oracle.ethicspointvp.com/custom/oracle/dp/en/form_data.asp">inquiry form</a> so that we may immediately delete the information from our servers and make any other necessary corrections. Additionally, please use <a href="https://oracle.ethicspointvp.com/custom/oracle/dp/en/form_data.asp">this same form</a> to request removal of content or information that was posted to our Channels when the registered user was under the age of 18. Please note that such requests may not ensure complete or comprehensive removal of the content or information, as, for example, some of your content may have been reposted by another user.</p> <hr /> <h3>Other Oracle Privacy Policies</h3> <p>In addition to this policy, Oracle has other privacy policies that are tailored for the different ways your Personal Information is collected by different Oracle lines of business and offerings.</p> <ul class="c47obullets">     <li>The Oracle Privacy Policy addresses information we collect at our web sites and in off-line sales and marketing activities.</li>     <li>The <a href="https://www.oracle.com/legal/privacy/services-privacy-policy.html" target="">Services Privacy Policy</a> addresses customer data to which we may be provided access in order to perform consulting, product support, outsourcing and other services.</li>     <li>The <a href="https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html" target="">Oracle Marketing Cloud &amp; Oracle Data Cloud Privacy Policy</a> addresses how Oracle facilitates the collection and use of marketing and interest information to enable interest-based advertising by Oracle's Marketing Cloud and Oracle Data Cloud customers.</li>     <li>The <a href="https://www.oracle.com/legal/privacy/recruiting-privacy-policy.html" target="">Recruiting Privacy Policy</a> addresses information we may collect in connection with Oracle's employment recruiting efforts.</li>     <li>The <a href="http://www.oracle.com/us/corporate/publishing/subscribe/subscriber-privacy-078389.html" target="">Profit Magazine and Oracle Magazine</a> privacy policy addresses information we may collect from subscribers to these publications.</li>     <hr />     <h3>Contact Us</h3>     <p>Oracle has appointed a Chief Privacy Officer. If you believe your Personal Information has been used in a way that is not consistent with this policy or your specified preferences, or if you have further questions related to this policy, please contact the Chief Privacy Officer by filling out an <a href="https://oracle.ethicspointvp.com/custom/oracle/dp/form_data.asp">inquiry form</a>. Written inquiries may be addressed to:</p>     <p>Chief Privacy Officer, Oracle Corporation<br />     7700 Technology Way<br />     Denver, CO 80237, USA</p>     <p><strong>Policy Updates</strong><br />     We may update this policy from time to time. We will post a prominent notice in this section of this policy notifying users when it is updated. To see the prior version of this policy,  <a href="https://www.oracle.com/legal/privacy/previous-policy.html" target="">click here</a>. We appreciate your comments on Oracle's privacy practices:</p>     <p><strong>Corporate Headquarters</strong> Oracle's corporate headquarters are located at:</p>     500 Oracle Parkway<br />     Redwood Shores, CA<br />     94065, USA<br />     Tel: +1.650.506.7000<br />     Fax: +1.650.506.7200     <p>Last Updated: November 6, 2015</p> </ul>
    </div>
  </div>
</div>