<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page demo-tour-dark-bg">
  <div class="oj-applayout-fixed-top demo-transparent-top">
    <header role="banner" class="demo-transparent-header oj-flex-bar oj-hybrid-applayout-header oj-sm-align-items-center">
      <div class="oj-flex-bar-end">
        <oj-button id='skipTourBtn' class='demo-tour-button' on-oj-action='[[goToSignIn]]' chroming='half'>
          <label class='demo-tour-button-label'>
            <oj-bind-text value="[[skipOrSignIn]]"></oj-bind-text>
          </label>
        </oj-button>
      </div>
    </header>
  </div>

  <oj-module config="[[moduleConfig]]" animation="[[moduleAnimation]]" on-oj-view-disconnected="[[viewDisconnected]]"></oj-module>
</div>