<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="demo-tour-container demo-tour-launch-image-container">
  <div class="demo-tour-launch-action oj-hybrid-padding-end oj-flex oj-sm-align-items-center oj-sm-justify-content-flex-end">
    <div class="oj-helper-text-align-right">
      <div class="oj-sm-margin-2x-end">
        <img src="css/images/tour_icon_small.png" alt="fixitfast icon" height="30px" width="30px">
        <h1>Oracle<span style="font-weight:400;">FixItFast</span></h1>
      </div>

      <oj-button id='launchTourBtn' class='demo-tour-button' on-oj-action='[[startTour]]' chroming='half'>
       <span class='demo-tour-button-label'>Learn about FixItFast</span>
       <span slot='endIcon' class='oj-fwk-icon-caret-end oj-fwk-icon'></span>
     </oj-button>
    </div>
  </div>
</div>
