
$includeAllClasses: false;

$includeCssVarDefinitions:       true;
$includeTagClasses:              true;
$includeCheckboxsetClasses:      true;
$includeComboboxClasses:         true;
$includeInputPasswordClasses:    true;
$includeInputTextClasses:        true;
$includeInputSearchClasses:      true;
$includeLabelClasses:            true;
$includeRadiosetClasses:         true;
$includeSwitchClasses:           true;
$includeTextAreaClasses:         true;
$includeChartClasses:            true;
$includeAnimationClasses:        true;
$includeAppLayoutClasses:        true;
$includeAppLayoutHybridClasses:  true;
$includeButtonClasses:           true;
$includeDialogClasses:           true;
$includeFilmStripClasses:        true;
$includeFlexClasses:             true;
$includeFormLayoutClasses:       true;
$includeGridClasses:             true;
$includeIndexerClasses:          true;
$includeListViewClasses:         true;
$includeNavigationListClasses:   true;
$includeOffcanvasClasses:        true;
$includePagingControlClasses:    true;
$includePanelClasses:            true;
$includePopupClasses:            true;
$includeRefresherClasses:        true;
$includeSwipeActionsClasses:     true;
$includeSwipeToRevealClasses:    true;
$includeUtilitiesClasses:        true; // for generic spacing and text classes
$includeToolbarClasses:          true;
$includeTrainClasses:            true;
$includeTabBarClasses:           true;
$includeNormalize:               true;
$includeResponsiveHelperClasses: true;
$includeModuleClasses:           true;
$includeMessageClasses:          true;
$includeMessagesClasses:         true; 
