// Copyright (c) 2014, 2019, Oracle and/or its affiliates. The Universal Permissive License (UPL), Version 1.0
@import "../../../../node_modules/@oracle/oraclejet/dist/scss/utilities/oj.utilities.urls";
@import "../../../../node_modules/@oracle/oraclejet/dist/scss/utilities/oj.utilities.math";

$themeName:           fif !default;

// PATHS
//----------------------------------
// these paths should be relative to the generated css file

// path to images
$imageDir: "../../alta/8.0.0/android/images/" !default;

// path to (icon) fonts
$fontDir:  "../../alta/8.0.0/android/fonts/" !default;

// path to common images (images shared across themes)
$commonImageDir:  "../../alta/8.0.0/common/images/" !default;


@import "../common/fif.common.settings";

